{% set navDropdown = craft.entries.id('8,7').fixedOrder(true).all() %}
<li class="dropDown">
  <a href="#">{{ 'Info' | t }}</a>
  <ul>
    {% for nav in navDropdown %}
      {% if loop.first %}{% endif %}
      <li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
    {% endfor %}
  </ul>
</li>
