.directory
.DS_Store
Thumbs.db
.DS_Store
!.gitkeep

# Vagrant
/.vagrant/
∕provisioning/includes/
/provisioning/????-??-??.sql
/provisioning/*.crt
**/ubuntu-*-cloudimg-console.log

# NPM
/node_modules/
npm-debug.log
package-lock.json

/log/
/storage/
/.env
/www/assets/images/
/www/theme/js/glamos.dev.js.map
/www/theme/js/glamos.dev.js
/www/theme/css/glamos.dev.css.map
/www/theme/css/glamos.dev.css
/www/theme/js/glamos.min.js.gz
/www/theme/js/glamos.min.js
/www/theme/css/glamos.prebuild.css.map
/www/theme/css/glamos.prebuild.css
/www/theme/css/glamos.min.css.map
/www/theme/css/glamos.min.css
