<div class="indexHead">
  <img class="navLogo" src="/theme/img/00_Logo_GLAMOS-01.svg" alt="">
  <h1>{{ website.commonTitle}}</h1>
  <div class="navIndex">
    {% include '_molecules/navLinks' %}
  </div>
</div>
