<div class="sidebarContainer">
  <div class="sidebarControls">
    {% include '_molecules/fieldSearch' %}
    {% include '_molecules/mapComparisonControls' %}
  </div>
  <div class="latestMeasurements">
    {% include '_molecules/mapLatestMeasurements' %}
  </div>

</div>
