<nav id="mainMobileNav">
   <ul>

     {% for i in 0..4 %}
       <li>
         <a href="#">Link {{ i }}</a>
       </li>
     {% endfor %}
     
     <li>
       <a href="#">{{ 'Sprache' | t }}</a>
       <ul>
         {% include '_molecules/langSwitcher' %}
       </ul>
     </li>
   </ul>
</nav>
