

<div class="navBar">
  <div class="navGrid">
    {% include '_atoms/navToggle' %}
    <div class="glamosBrand">
      <a href="/" class="navTitle"><h1>Schweizer Gletscher</h1></a>
      <img class="navLogo desktop" src="/theme/img/00_Logo_GLAMOS-01.svg" alt="">
      <img class="navLogo mobile" src="/theme/img/00_Logo_GLAMOS-03.svg" alt="">
    </div>
    {% include '_molecules/navLinks' %}
  </div>
</div>
