<div class="tabContainer">
  <ul class="tabLinks">
    <li><a href="#tab1" data-tab="tab1" class="current">Download Option 1</a></li>
    <li><a href="#tab2" data-tab="tab2">Download Option 2</a></li>
    <li><a href="#tab3" data-tab="tab3">Download Option 3</a></li>
  </ul>
  <div class="tabContent">
    <div id="tab1" class="tabPanel current">// Optionen für Download 1</div>
    <div id="tab2" class="tabPanel">// Optionen für Download 2</div>
    <div id="tab3" class="tabPanel">// Optionen für Download 3</div>
  </div>
</div>
