<div class="fsPhoto">

  <div class="imgGallery">

    <div data-src="http://via.placeholder.com/800x600?text=linkedPreviewImg" class="zoomItem">
      <img src="http://via.placeholder.com/350x350">
    </div>
    <div data-src="http://via.placeholder.com/800x600?text=hidden+image+1" class="zoomItem"></div>
    <div data-src="http://via.placeholder.com/800x600?text=hidden+image+2" class="zoomItem"></div>
    <div data-src="http://via.placeholder.com/800x600?text=hidden+image+3" class="zoomItem"></div>
    <div data-src="http://via.placeholder.com/800x600?text=hidden+image+4" class="zoomItem"></div>
    <div data-src="http://via.placeholder.com/800x600?text=hidden+image+5" class="zoomItem"></div>

    <button class="btn" id="allImages" type="button">Alle Bilder</button>

  </div>

</div>
