{% import '_incl/docMacros' as macro %}

<div class="comparisonControlWrapper">

  {{ macro.comparisonEntry('Aletschgletscher') }}
  {{ macro.comparisonEntry('Rhonegletscher', true) }}
  {{ macro.comparisonEntry('Gauligletscher') }}
  {{ macro.comparisonEntry('Dingsgletscher') }}

  <button type="button" name="reset" class="btn">Reset</button>

</div>
