{% set currentID = entry.id %}

<ul class="navMain">
  {% for nav in navigation %}
    <li class="{% if currentID == nav.id %}active{% endif %}">
      <a href="{{ nav.url }}">{{ nav.title }}</a>
    </li>
  {% endfor %}
  {% include '_atoms/navDropdown' %}
</ul>
<ul class="navLang">
  {% include '_molecules/langSwitcher' %}
</ul>
