<div class="socialMedia">
<a class="twitter-timeline" data-height="400" href="https://twitter.com/glamos_ch?ref_src=twsrc%5Etfw">Tweets by glamos_ch</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
