{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}

{% block content %}
  <div class="contentGrid">
    <h2 class="pageTitle">{{ entry.title }}</h2>
    {% include '_organisms/mxPageText' %}
  </div>
{% endblock %}
