{% extends "_layout" %}

{% block content %}
  <div class="gridMapViewer">

    <a href="#navMapViewer" class="navMapViewerToggle"></a>
    {% include '_organisms/mapContainer' %}
    {% include '_organisms/mapOutput' %}
    {% include '_organisms/mapInput' %}

  </div>
  {% include '_organisms/navMapViewer' %}
{% endblock %}
