.navMobileToggle {
  //background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @extend %hiddenSmUp;
  a {
    color: $txtColor;
    &:hover {
      color: $mainColor;
    }
  }
}
